body {
  
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;

}

ul {
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 15px;
    color: #F9FAF8;
  
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 200px;
    padding-bottom: 100px;
    padding-top: 100px;
    gap: 25px;
}

.placeholder {
    padding-top: 100px;
margin-left: 200px;
}

.subtitle {
    color: #F9FAF8;
    font-size: 18pt;
}

a:link {
    text-decoration: none;
    color: #F9FAF8;
  }
  
  a:visited {
    text-decoration: none;
    color: #F9FAF8;
  }
  
  a:hover {
    text-decoration: none;
    color: #F9FAF8;
  }
  
  a:active {
    text-decoration: none;
    color: #F9FAF8;
  }

.body {
    display: flex;
background-color: #1F2937;

  }
  .title {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8
  }
  
 .button {
    background-color: #3882f6;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    color: #F9FAF8;
    width: 150px;
    font-weight: bolder;
    font-size: 14pt;
  }

  .containertwo {
    display: flex;
justify-content: center;
  gap: 40px;
margin-bottom: 100px;
  }

.titletwo{
    text-align: center;
    font-size: 48pt;
    font-weight: bolder;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 50px;

}

.info {
 max-width: 200px;
 justify-content: center;

  }

  .text {
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-left: 15px;
  }

  img {
    border-radius: 10px;
  }

  .quote {

    flex-wrap: wrap;
    justify-content: center;
background-color: #e5e7eb;
text-align: center;
font-style: italic;
font-size: 24pt;
color:#1F2937;
padding-top: 100px;
padding-left: 100px;
padding-right: 100px;
padding-bottom: 15px;


  }

  .signiture {
    background-color: #e5e7eb;
    font-size: 14pt;
    font-weight: 900;
    text-align: right;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;

  }

  .lowercontainer {
    background-color: #F9FAF8;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;

    
  }

  .calltoaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    background-color:#3882f6;
    color: #F9FAF8;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
    flex-direction: row-reverse;
    margin-left:250px
  }

  .buttontwo {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
    color: #F9FAF8;
    align-items: center;
  }
